# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Main binaries
main
AoC-2021

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# VSCode

.vscode/

# Editurds
*.swp
*~

# Delve bits
__debug_bin

# Cookie files
*session*

# Cache
.aoc/
